@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400&display=swap');



body {
    font-size: 15px;
     background: radial-gradient(252.46% 128.6% at 43.56% 77.38%, rgba(0, 115, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(50.09% 87.27% at 100% 0%, rgba(255, 132, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(2567.19% 1578.53% at 44.97% 30.08%, rgba(236, 241, 251, 0.45) 0%, rgba(248, 248, 248, 0.45) 100%),#f6f8fb;
}

section {
    display: flex;
    padding: 10%;
    margin: auto;
    justify-content: center;
    border-radius: 5px;
}

div { 
    padding: 25px;
    margin-top: 25px;
    max-width: 200px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin: 30px 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
}

h1, p {

    color: hsla(0, 0%, 100%, 0.75);
}

#sedans {
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#sedans button {
    color: hsl(31, 77%, 52%);
}
#sedans button:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(31, 77%, 52%);
}




#suvs {
    background: hsl(184, 100%, 22%);
    
}
#suvs button {
    color: hsl(184, 100%, 22%);
}
#suvs button:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(184, 100%, 22%);
}



#luxury {
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#luxury button {
    color: hsl(179, 100%, 13%);
}

#luxury button:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(179, 100%, 13%);
}

.btn{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
button {
    min-width: 100px;
    border-radius: 12px;
    border: 10px;
    height: 25px;
    background: hsl(0, 0%, 95%);

}

button:hover {
    border: 1.5px solid;
    border-color: hsl(0, 0%, 95%);
    cursor: pointer;
}


@media screen and (max-width: 425px) {
    section {
        display: flex;
        flex-direction: row;
    }
}

