@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #413c3c;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
  

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    justify-content: center;
    background: radial-gradient(252.46% 128.6% at 43.56% 77.38%, rgba(0, 115, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(50.09% 87.27% at 100% 0%, rgba(255, 132, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(2567.19% 1578.53% at 44.97% 30.08%, rgba(236, 241, 251, 0.45) 0%, rgba(248, 248, 248, 0.45) 100%),#f6f8fb;
    


    height: 100%;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    background: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.logo {
    display: flex;
}
.nav img {
    margin-top: 20px;
    margin-left: 40px;
    color: #343E59;
    font-size: 13.33px;
    cursor: pointer;
}
.logo h1 {
    width: 91px;
    height: 20px;
    margin-left: 10px;
    margin-top: 30px;
    color: #343E59;
    font-size: 13.33px;
    cursor: pointer;
}


h1 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 11.25px;
    margin-top: 0;
    margin-bottom: 5px;
}

label {
    display: flex;
    align-items: center;
    font-size: 11.25px;
    margin-bottom: 5px;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

.main-con {
    margin-top: 0;
    height: 100%;
    width: 50%;
    margin: 0px auto 0 auto;
    border-radius: 5px;
}

header {
    padding: 0 6.25px;
    margin-bottom: 20px;
}

#description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.clue {
    margin-left: 2.5px;
    font-size: 9px;
    color: #e4e4e4;
}

#title {
    text-align: center;
}

form {
    padding: 25px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgb(255, 243, 227), rgb(236, 218, 195), bisque);
}

.form-el {
    margin: 0 auto 12.5px auto;
    padding: 3px;
    width: 80%;
}

.form-con {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3.75px 7.5px;
    color: #574c49;
    background-color: bisque;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-con:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.radio-el, .checkbox-el {
    display: inline-block;
    align-items: center;
    margin-right: 6.25px;
    min-height: 12.5px;
    min-width: 12.5px;
}

#comments {
    min-height: 50px;
    width: 100%;
    padding: 7px;
    background: aliceblue;
    resize: vertical;
    border-radius: 5px;
}


#submit {
    display: block;
    width: 100%;
    padding: 7.5px;
    background: rgb(245, 204, 155);
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-con {
      max-width: 720px;
      width: 75%;
    }
    .form-el {
        width: 80%;
    }

  }

  @media (max-width: 576px) {
    .main-con {
      max-width: 540px;
      width: 75%;
    }
    .form-el {
        width: 80%;
    }

  }
